/* App.css */
.CodeMirror {
  color: #ffffff;
  background-color: #1d1e22; /* Set background color */
  transition: height 0.3s ease; /* Add a transition for smooth height changes */
  height: 340px !important;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}

/* Set the height for mobile
@media (max-width: 600px) {
  .CodeMirror {
    height: 10% !important;
  }
}

/* Set the height for non-mobile (full height) */
